## All the sequences

In [36]:
v1=c(1,2,3,4) #vector 1 dim
v2=c(11,22,33,44,55,66)
print(c(v1,v2))#combines 2 vector

 [1]  1  2  3  4 11 22 33 44 55 66

In [33]:
b=list(c(1,2,3),c('a','b','c')) #list 
a

[1] 1 2 3

In [34]:
c=factor(c('m','m','f')) #factor store categorical data
c

[1] m m f
Levels: f m

In [41]:
# create an array of two 3x3 matrix using two given vector

matrix=array(c(v1,v2),dim=c(3,3))
matrix
print(matrix)
#if u want 2 matrices
matrix=array(c(v1,v2),dim=c(3,3,2))#add another paremter
matrix#wont work properly
print(matrix)

     [,1] [,2] [,3]
[1,] 1     4   33
[2,] 2    11   44
[3,] 3    22   55

     [,1] [,2] [,3]
[1,]    1    4   33
[2,]    2   11   44
[3,]    3   22   55

, , 1

     [,1] [,2] [,3]
[1,]    1    4   33
[2,]    2   11   44
[3,]    3   22   55

, , 2

     [,1] [,2] [,3]
[1,]   66    3   22
[2,]    1    4   33
[3,]    2   11   44

, , 1

     [,1] [,2] [,3]
[1,]    1    4   33
[2,]    2   11   44
[3,]    3   22   55

, , 2

     [,1] [,2] [,3]
[1,]   66    3   22
[2,]    1    4   33
[3,]    2   11   44

## Matric created using matric method

In [42]:
rname=c('r1','r2','r3','r4')
cname=c('c1','c2','c3','c4')
matrix=matrix(c(1:16),nrow=4,ncol=4,byrow=TRUE,dimnames=list(rname,cname))#row and column names always passed as list
matrix
#here we can't specify no of columns and rows more than available elements in the vector
matrix(c(1:16),nrow=5,ncol=5,byrow=TRUE,dimnames=list(rname,cname))#this wont work

   c1 c2 c3 c4
r1  1  2  3  4
r2  5  6  7  8
r3  9 10 11 12
r4 13 14 15 16

Warning message in matrix(c(1:16), nrow = 5, ncol = 5, byrow = TRUE, dimnames = list(rname, :
"data length [16] is not a sub-multiple or multiple of the number of rows [5]"

ERROR: Error in matrix(c(1:16), nrow = 5, ncol = 5, byrow = TRUE, dimnames = list(rname, : length of 'dimnames' [1] not equal to array extent

In [ ]:
a=rep(c(1,2,3),each=3) #repeat the vector each 3 times
a

In [2]:
sort(a,TRUE)

[1] 3 3 3 2 2 2 1 1 1

In [28]:
a[c(2,4)]=5
a

[1] 5 5 5 5 3 3 2 2 1

In [24]:
a[2:4]=5
a

[1] 1 5 5 5 2 2 3 3 3

In [29]:
a=sort(a,TRUE)
a

[1] 5 5 5 5 3 3 2 2 1

In [30]:
a=c(1:50)
a

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
[26] 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [35]:
a=seq(from=1,to=10,by=2)
a

[1] 1 3 5 7 9

In [45]:
a=seq(1,5,0.5)#using step value
a
length(a)
a=seq(from=1,to=5,length.out=10)#using length.out
a
length(a)

[1] 1.0 1.5 2.0 2.5 3.0 3.5 4.0 4.5 5.0

[1] 9

 [1] 1.000000 1.444444 1.888889 2.333333 2.777778 3.222222 3.666667 4.111111
 [9] 4.555556 5.000000

[1] 10

In [59]:
mark=c(1,2,3,4,5,1)
sum(mark)#sumation of vector
sum(mark==1)#count of 1
mark==1#gives boolean results

[1] 16

[1] 2

[1]  TRUE FALSE FALSE FALSE FALSE  TRUE

In [50]:
paste('The count of 1 is: ',sum(mark==1))

[1] "The count of 1 is:  2"

In [55]:
a=c('java','python','c','r','python')
x=readline('Enter ur choice')
paste('The count of',x,'is:',sum(a==x))

Enter ur choices

[1] "The count of s is: 0"

In [57]:
unique(a)#unique Values

[1] "java"   "python" "c"      "r"

In [62]:
a=c(1,2,3,4,5)
b=c(1,2,3,6,7)
setdiff(a,b)#what is there in a that is not in b
setdiff(b,a)#what is there in b that is not in a

[1] 4 5

[1] 6 7

In [77]:
element=c()
n=as.integer(readline('Enter no. of inputs: '))
for(i in seq(n))#getting multiple inputs
{#no indentation
    element[i]=as.numeric(readline(paste('Enter element no:',i,':')))
}

Enter no. of inputs: 3
Enter element no: 1 :1
Enter element no: 2 :2
Enter element no: 3 :3

In [80]:
element
sort(element,FALSE)
sort(element,TRUE)
element#sort is does not inplace if not assigned
x=sort(element,TRUE)
x

[1] 1 2 3

[1] 1 2 3

[1] 3 2 1

[1] 1 2 3

[1] 3 2 1

In [71]:
element

[1] 1 2 2

In [82]:
x=readline('enter')
class(x)
print(x)

enter10L

[1] "character"

[1] "10L"

In [86]:
a=array(c(1,2,3,4,5,6),dim=c(3,3))
print(a)

     [,1] [,2] [,3]
[1,]    1    4    1
[2,]    2    5    2
[3,]    3    6    3

In [94]:
v1=c(1,2,3,4)
v2=c(11,22,33,44,55,66)
print(c(v1,v2))#combines 2 vector

 [1]  1  2  3  4 11 22 33 44 55 66

## Creating matrixes using array method

In [106]:
# create an array of two 3x3 matrix using two given vector

matrix=array(c(v1,v2),dim=c(3,3))
matrix
print(matrix)
#if u want 2 matrices
matrix=array(c(v1,v2),dim=c(3,3,2))#add another paremter
matrix#wont work properly
print(matrix)

     [,1] [,2] [,3]
[1,] 1     4   33
[2,] 2    11   44
[3,] 3    22   55

     [,1] [,2] [,3]
[1,]    1    4   33
[2,]    2   11   44
[3,]    3   22   55

, , 1

     [,1] [,2] [,3]
[1,]    1    4   33
[2,]    2   11   44
[3,]    3   22   55

, , 2

     [,1] [,2] [,3]
[1,]   66    3   22
[2,]    1    4   33
[3,]    2   11   44

, , 1

     [,1] [,2] [,3]
[1,]    1    4   33
[2,]    2   11   44
[3,]    3   22   55

, , 2

     [,1] [,2] [,3]
[1,]   66    3   22
[2,]    1    4   33
[3,]    2   11   44

In [120]:
#print 2nd row of 2nd matrix of an array

print(matrix[2,,2])#parameters row column matrix's no

print(matrix[,2,2])#2nd column of 2nd matrix

[1]  1  4 33
[1]  3  4 11

In [104]:
#print 3rd row of 3rd column of 3rd matrix of an array

print(matrix[3,3,1])#parameters row column matrix's no

[1] 55

In [118]:
#write an R program to create 2 dimensional 5x3 array of sequence of even integers greater than 50
evens=array(seq(from=52,length.out=15,by=2),dim=c(5,3))
evens

     [,1] [,2] [,3]
[1,] 52   62   72
[2,] 54   64   74
[3,] 56   66   76
[4,] 58   68   78
[5,] 60   70   80

## Creating matrices using Matrix method

In [123]:
matrix=matrix(c(1:16),nrow=4,ncol=4,byrow=TRUE)
matrix
matrix=matrix(c(1:16),nrow=4,ncol=4,byrow=FALSE)
matrix

     [,1] [,2] [,3] [,4]
[1,]  1    2    3    4
[2,]  5    6    7    8
[3,]  9   10   11   12
[4,] 13   14   15   16

     [,1] [,2] [,3] [,4]
[1,] 1    5     9   13
[2,] 2    6    10   14
[3,] 3    7    11   15
[4,] 4    8    12   16

In [128]:
rname=c('r1','r2','r3','r4')
cname=c('c1','c2','c3','c4')
matrix=matrix(c(1:16),nrow=4,ncol=4,byrow=TRUE,dimnames=list(rname,cname))#row and column names always passed as list
matrix
#here we can't specify no of columns and rows more than available elements in the vector
matrix(c(1:16),nrow=5,ncol=5,byrow=TRUE,dimnames=list(rname,cname))#this wont work

   c1 c2 c3 c4
r1  1  2  3  4
r2  5  6  7  8
r3  9 10 11 12
r4 13 14 15 16

Warning message in matrix(c(1:16), nrow = 5, ncol = 5, byrow = TRUE, dimnames = list(rname, :
"data length [16] is not a sub-multiple or multiple of the number of rows [5]"

ERROR: Error in matrix(c(1:16), nrow = 5, ncol = 5, byrow = TRUE, dimnames = list(rname, : length of 'dimnames' [1] not equal to array extent

In [134]:
matrix[2,]#2nd row
matrix[,2]#2nd column
matrix[2,2]#2nd row 2nd column
matrix[2]

c1 c2 c3 c4
 5  6  7  8

r1 r2 r3 r4
 2  6 10 14

[1] 6

[1] 5

In [137]:
paste(matrix)

 [1] "1"  "5"  "9"  "13" "2"  "6"  "10" "14" "3"  "7"  "11" "15" "4"  "8"  "12"
[16] "16"

### Factor

In [144]:
a=factor(c('male','female','male','male'))
print(a)
paste(a)
a

[1] male   female male   male
Levels: female male

[1] "male"   "female" "male"   "male"

[1] male   female male   male
Levels: female male

In [140]:
table(a)

a
female   male
     1      3

In [141]:
levels(a)

[1] "female" "male"

In [145]:
for (i in a){
    print(i)
}

[1] "male"
[1] "female"
[1] "male"
[1] "male"

In [163]:
element=list()
n=as.integer(readline('Enter no. of inputs: '))
for(i in seq(n))#getting multiple inputs
{#no indentation
    element[i]=readline(paste('Enter element no:',i,':'))
}
element

Enter no. of inputs: 3
Enter element no: 1 :kousa
Enter element no: 2 :mygi
Enter element no: 3 :ange

[[1]]
[1] "kousa"

[[2]]
[1] "mygi"

[[3]]
[1] "ange"

In [7]:
df=data.frame(emp_id=c(3,1,2),emp_name=c('a','b','c'),emp_date=as.Date(c('2011-1-11','2011-2-22','2013-3-22')),gen=factor(c('f','f','m')))
df

  emp_id emp_name emp_date   gen
1 3      a        2011-01-11 f
2 1      b        2011-02-22 f
3 2      c        2013-03-22 m

In [212]:
df$emp_id

[1] 3 1 2

In [213]:
df$gen

[1] f f m
Levels: f m

In [214]:
table(df$gen)

f m
2 1

In [215]:
df$emp_date

[1] "2011-01-11" "2011-02-22" "2013-03-22"

In [216]:
str(df)#info structure

'data.frame':	3 obs. of  4 variables:
 $ emp_id  : num  3 1 2
 $ emp_name: Factor w/ 3 levels "a","b","c": 1 2 3
 $ emp_date: Date, format: "2011-01-11" "2011-02-22" ...
 $ gen     : Factor w/ 2 levels "f","m": 1 1 2

In [217]:
summary(df)#statistical summary

     emp_id    emp_name    emp_date          gen
 Min.   :1.0   a:1      Min.   :2011-01-11   f:2
 1st Qu.:1.5   b:1      1st Qu.:2011-02-01   m:1
 Median :2.0   c:1      Median :2011-02-22
 Mean   :2.0            Mean   :2011-10-19
 3rd Qu.:2.5            3rd Qu.:2012-03-07
 Max.   :3.0            Max.   :2013-03-22

In [218]:
df["emp_name"]#this is also fine

  emp_name
1 a
2 b
3 c

In [219]:
df1=data.frame(df["emp_name"],df["emp_date"])
df1

  emp_name emp_date
1 a        2011-01-11
2 b        2011-02-22
3 c        2013-03-22

In [13]:
#sorting
df[with(df,order(c(emp_id))),]#as df[row,col] is syntax

  emp_id emp_name emp_date   gen
2 1      b        2011-02-22 f
3 2      c        2013-03-22 m
1 3      a        2011-01-11 f

In [14]:
df

  emp_id emp_name emp_date   gen
1 3      a        2011-01-11 f
2 1      b        2011-02-22 f
3 2      c        2013-03-22 m

## Adding new Column

In [15]:
df['dept']=c('cse','maths','physics')

In [16]:
df

  emp_id emp_name emp_date   gen dept
1 3      a        2011-01-11 f   cse
2 1      b        2011-02-22 f   maths
3 2      c        2013-03-22 m   physics

## Adding new Row

In [22]:
df1=data.frame(emp_id=c(3,1,2),emp_name=c('a','b','c'),emp_date=as.Date(c('2011-1-11','2011-2-22','2013-3-22')),gen=factor(c('f','f','m')),dept=c('cse','maths','physics'))
df1

  emp_id emp_name emp_date   gen dept
1 3      a        2011-01-11 f   cse
2 1      b        2011-02-22 f   maths
3 2      c        2013-03-22 m   physics

In [23]:
rbind(df,df1)

  emp_id emp_name emp_date   gen dept
1 3      a        2011-01-11 f   cse
2 1      b        2011-02-22 f   maths
3 2      c        2013-03-22 m   physics
4 3      a        2011-01-11 f   cse
5 1      b        2011-02-22 f   maths
6 2      c        2013-03-22 m   physics

In [26]:
df

  emp_id emp_name emp_date   gen dept
1 3      a        2011-01-11 f   cse
2 1      b        2011-02-22 f   maths
3 2      c        2013-03-22 m   physics

In [27]:
x=data.frame(s_id=c(1,2,3,4,5),product=c('a','b','c,','d','e'))
y=data.frame(s_id=c(1,2,3,4,5),state=c('a','b','c,','d','e'))

In [ ]:
x=data.frame(s_id=c(1,2,3,4,5),product=c('a','b','c,','d','e'))
y=data.frame(s_id=c(1,2,3,4,5),state=c('a','b','c,','d','e'))