In [9]:
score.koushik.like_inpython=100L
#L for integer
#numeric is float and double
print(score.koushik.like_inpython)
class(score.koushik.like_inpython)

[1] 100

[1] "integer"

In [2]:
a<-100 #<- is also assignment
print(a)
class(a)

[1] 100

[1] "numeric"

In [3]:
paste(score.koushik.like_inpython,a)#no error
#print(score.koushik.like_inpython,a)#error

[1] "100 100"

In [4]:
d<-readline('Enter input')
paste(d)
class(d)
d=as.integer(d)
class(d)#integer

Enter input1

[1] "1"

[1] "character"

[1] "integer"

In [7]:
r<-readline('Enter radius: ')
r=as.integer(r)
pi=3.14
paste('Area of Donut: ',((2*pi*r*r)*(pi*r*r)))

Enter radius: 3

[1] "Area of Donut:  1597.2552"

In [9]:
max(4,11)
min(4,11)

[1] 11

[1] 4

In [10]:
sqrt(4)

[1] 2

In [12]:
ceiling(10.9)

[1] 11

In [15]:
ceiling(10.1)

[1] 11

In [16]:
floor(10.1)

[1] 10

In [18]:
a=c(1,0,0)
a

[1] 1 0 0

In [32]:
a[0]
a[1]#index starts with 1 not 0
a[2:3]#a[2:]wont work and a[2:4] index out of error won't come
a[2:4]
a[4:6]

numeric(0)

[1] 1

[1] 0 0

[1]  0  0 NA

[1] NA NA NA

In [41]:
a=c(1,2,3)
b=c("True","False","True")
c1=c(a,b)

In [73]:
class(a)
a

[1] "numeric"

[1] 1 2 3

In [72]:
class(c1)
c

[1] "character"

[1] "1"     "2"     "3"     "True"  "False" "True"

In [74]:
class(b)

b

[1] "character"

[1] "True"  "False" "True"

In [70]:
l=list(a,b,c1)

In [71]:
l

[[1]]
[1] 1 2 3

[[2]]
[1] "True"  "False" "True"

[[3]]
[1] "1"     "2"     "3"     "True"  "False" "True"

In [75]:
l[1]=400
l

[[1]]
[1] 400

[[2]]
[1] "True"  "False" "True"

[[3]]
[1] "1"     "2"     "3"     "True"  "False" "True"

In [59]:
class(l)

[1] "list"

In [68]:
x=l[c(1)]#vector is used to select specific elements not continuous
class(x)

[1] "list"

In [79]:
l[c(1,3)]=400##vector is used to select specific elements not continuous
l[c(1,3)]
l[1:3]#for continuous value

[[1]]
[1] 400

[[2]]
[1] 400

[[1]]
[1] 400

[[2]]
[1] "True"  "False" "True"

[[3]]
[1] 400

In [1]:
a=rep(c(1,2,3),each=3) #repeat the vector each 3 times
a

[1] 1 1 1 2 2 2 3 3 3

In [7]:
a=rep(c(1,2,3),times=3) #repeat the vector 3 times
a

[1] 1 2 3 1 2 3 1 2 3

In [8]:
a=rep(c(1,2,3),times=c(1,2,3)) #repeat the vector each the vector times
a

[1] 1 2 2 3 3 3