In [2]:
#s3 class 
student=list(name='abc',dept='cse',course=c('java','python'))
class(student)#class creation
student#object creation

[1] "list"

$name
[1] "abc"

$dept
[1] "cse"

$course
[1] "java"   "python"

In [4]:
student$course[2]

[1] "python"

## Regular Expression

In [8]:
words=c('I like python','java','I hate Python','c')
grepl(pattern='python',x=words,ignore.case=TRUE)

[1]  TRUE FALSE  TRUE FALSE

In [9]:
grep(pattern='python',x=words,ignore.case=TRUE)
grep(pattern='python',x=words,ignore.case=TRUE,value=TRUE)#prints the whole sentence

[1] 1 3

[1] "I like python" "I hate Python"

In [18]:
for (i in grep(pattern='python',x=words,ignore.case=TRUE,value=TRUE)){
    grep(pattern='python',x=i,ignore.case=TRUE,value=TRUE)#prints the whole sentence
    print(i)
}

[1] "I like python"
[1] "I hate Python"

## Extract the phone number from the given para.

In [1]:
library(stringr)

In [85]:
x=c('my name is kousa. my no is 9088093208. my mail is kousa@gmail.com. my dob is 15-11-2003')
paste('Phone numbers is:',str_extract_all(x,"[6-9]{1}[0-9]{9}"))#till 1st digit 6-9 till 9th digit 0-9
paste('Date of birth is:',str_extract_all(x,"[:digit:]{2}-[\\d]{2}-[:digit:]{4}"))#date
paste('email is:',str_extract_all(x,"\\w+@\\w+.\\w+"))#email
#str_extract_all(x,"[1-31]{2}[1-12]{2}")#date
#:digit: or \\d are called meta character

[1] "Phone numbers is: 9088093208"

[1] "Date of birth is: 15-11-2003"

[1] "email is: kousa@gmail.com"

In [25]:
install.packages("stringr")

  There is a binary version available but the source version is later:
        binary source needs_compilation
stringr  1.4.0  1.4.1             FALSE

installing the source package 'stringr'

## Write the R code to print 1st two digits followed by arbitary character

In [10]:
x=c('my name 12 abc 123 xyz is kousa. my no is 9088093208. my mail is kousa@gmail.com. my dob is 15-11-2003')
str_extract_all(x,"\\d{2}\\s\\w+")
str_extract_all(x,"\\b\\d{2}\\b\\s\\w+")
str_extract_all(x,"\\b\\d{2}\\b")
str_extract_all(x,"\\d{2}")

[[1]]
[1] "12 abc" "23 xyz"

[[1]]
[1] "12 abc"

[[1]]
[1] "12" "15" "11"

[[1]]
 [1] "12" "12" "90" "88" "09" "32" "08" "15" "11" "20" "03"

## Start with c end with e

In [90]:
x=c('cake bake late caste')
str_extract_all(x,"c\\w+e")

[[1]]
[1] "cake"  "caste"

## Substitute replace

In [3]:
df="Raa is is a R"
df=sub("R","R language ",df)#replace in 1st instance
df
df=gsub("R","R language ",df)#replace all instances
df

[1] "R language aa is is a R"

[1] "R language  language aa is is a R language "

## Print the word that contains the vowels a i e o u

In [2]:
df=c('abc','Ab','b','B')
grep(pattern='[aieouAEIOU]',df,value=TRUE)
grepl(pattern='[aieouAEIOU]',df)#this not work 
#grepl return boolean value 
#grep gives index or values

[1] "abc" "Ab"

[1]  TRUE  TRUE FALSE FALSE

In [120]:
df=c('my debit card is 1234-2345-3456-4567')
str_extract_all(df,"\\d{4}+-\\d{4}+-\\d{4}+-\\d{4}")

[[1]]
[1] "1234-2345-3456-4567"

In [44]:
df=c('1100 1101 1010 1021')
str_extract_all(df,"[1-9]{1}[0-9]{1}[01-9]{2}")

[[1]]
[1] "1100" "1101" "1010" "1021"