In [3]:
#repeat loop similiar to while True but condition checking is inside the block
i=0
repeat{
    print(i)
    i=i+1
    if (i>5){
        break
    }
}

[1] 0
[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

In [8]:
#switch(1,'add','sub','mul')#will print index specified ouput add
case=as.integer(readline('Enter ur choice'))
switch(case,'add','sub','mul')

Enter ur choice1

[1] "add"

In [9]:
switch("color",name='xyz',age=12,color='black')

[1] "black"

In [13]:
a=function(parameter){
    paste(parameter)
}
arg='helloworld'
a(arg)
case=as.integer(readline('Enter ur choice'))
switch(case,a('add'),a('sub'),a('mul'))#functions can also be called

[1] "helloworld"

Enter ur choice1

[1] "add"

## Calculator

In [64]:
add=function(){
    a=as.integer(readline('Enter no. 1 '))
    b=as.integer(readline('Enter no. 2 '))
    return (a+b)
}
sub=function(){
    a=as.integer(readline('Enter no. 1 '))
    b=as.integer(readline('Enter no. 2 '))
    return (a-b)
}
mul=function(){
    a=as.integer(readline('Enter no. 1 '))
    b=as.integer(readline('Enter no. 2 '))
    return (a*b)
}
div=function(){
    a=as.integer(readline('Enter no. 1 '))
    b=as.integer(readline('Enter no. 2 '))
    return (a/b)
}
case=as.integer(readline('Enter ur choice: \n1.ADD\n2.SUB\n3.MUL\n4.DIV\n'))
result=switch(case,add(),sub(),mul(),div())
operator=switch(case,'+','-','x','/')
paste('result:',result,'operator',operator)

Enter ur choice:
1.ADD
2.SUB
3.MUL
4.DIV
1
Enter no. 1 1
Enter no. 2 2

[1] "result: 3 operator +"

### Keyword arguments

In [33]:
a=function(name,dept,age){
    paste('name:',name,'dept:',dept,'age',age)
}
a(dept='cse',11,name='kousa')

[1] "name: kousa dept: cse age 11"

### Default

In [39]:
a=function(dept,age,name='goutha'){#default argument must always come at last
    paste('name:',name,'dept:',dept,'age',age)
}
a(age=11,dept='cse')

[1] "name: goutha dept: cse age 11"

In [45]:
#normal distribution
rnorm(3)#default mean=0 std deviation=1

[1] -0.59144048  0.60305339  0.01180381

In [51]:
rnorm(5,mean=5,sd=2)

[1] 5.747974 6.623335 4.359122 4.688853 2.085342

In [63]:
#uniform distribution
set.seed(1)#to lock the random values
runif(3,min=10,max=100)#min and maximum value

[1] 33.89578 43.49115 61.55680